<center>
        <div class="nav">
            <table>
                <tr>
                    <td>
                        <div class="titre">
                            le <g>M</g>usée d'<g>A</g>rts en gros.
                        </div>
                    </td>
                    <td>
                        <div class="tabs-onglets">
                                <a href="./">Techniques</a>
                                <a href="./2">Oeuvres</a>
                                <a href="/3">Artistes</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    
    <div id="contenu">
        
        <div id="troisieme_onglet">
            <div class="desc">
            <d>Origine des artistes.</d> <br />Il s'agit d'une représentation graphique des différents lieux de naissance des artistes dont les oeuvres sont exposées au musée. 
            </div>
            <img src="/images/map.png" class="pic" />
        </div>
        
    </div>
        
        
        
  </center>
        
        