  <div id="contenu">
    
    <div id="troisieme_onglet">
      <div class="desc">
        <d>Origine des artistes.</d> <br />Il s'agit d'une représentation graphique des différents lieux de naissance des artistes dont les oeuvres sont exposées au musée. 
      </div>
      <img src="/images/map.png" class="pic" />
    </div>
    
  </div>

