<center>
  <div class="nav">
    <table>
      <tr>
        <td>
          <div class="titre">
            le <g>M</g>usée d'<g>A</g>rts en gros.
          </div>
        </td>
        <td>
          <div class="tabs-onglets">
            <a href="./">Techniques</a>
            <a href="./2">Oeuvres</a>
            <a href="/3">Artistes</a>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div id="contenu">

    <div id="deuxieme_onglet">
      <div class="desc">
        <d>Quantité de travaux par siècle.</d> <br />Voici un graphique représentant les quantités d'oeuvres réalisées par siècle.
      </div>         
      {{!-- <img src="/images/graph2.png" class="pic" /> --}}
      <svg  class="pic"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1366px" height="600px" viewBox="0 0 1000 768" enable-background="new 0 0 1000 600" xml:space="preserve">
       <g>  
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="462.067" y1="290" x2="867.907" y2="290"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="462.067" y1="250" x2="867.907" y2="250"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="462.067" y1="210" x2="867.907" y2="210"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="462.067" y1="170" x2="867.907" y2="170"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="462.067" y1="130" x2="867.907" y2="130"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="462.067" y1="90" x2="867.907" y2="90"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="462.067" y1="50" x2="867.907" y2="50"/>
        <line fill="#8A1B35" stroke="#8A1B35" stroke-width="2" stroke-miterlimit="10" x1="462.067" y1="10" x2="867.907" y2="10"/>

        <rect x="519.991" y="582.816" fill="none" width="43.801" height="16.956"/>
        <text transform="matrix(1 0 0 1 530.1045 592.9326)" fill="#8A1B35" font-family="'ArialMT'" font-size="14.1292">16e</text>
        <rect x="582.688" y="582.816" fill="none" width="43.801" height="16.956"/>
        <text transform="matrix(1 0 0 1 592.8008 592.9326)" fill="#8A1B35" font-family="'ArialMT'" font-size="14.1292">17e</text>
        <rect x="640.79" y="582.816" fill="none" width="43.801" height="16.956"/>
        <text transform="matrix(1 0 0 1 650.9033 592.9326)" fill="#8A1B35" font-family="'ArialMT'" font-size="14.1292">18e</text>
        <rect x="703.486" y="582.816" fill="none" width="43.801" height="16.956"/>
        <text transform="matrix(1 0 0 1 713.5996 592.9326)" fill="#8A1B35" font-family="'ArialMT'" font-size="14.1292">19e</text>
        <rect x="763.886" y="582.816" fill="none" width="43.801" height="16.956"/>
        <text transform="matrix(1 0 0 1 773.999 592.9326)" fill="#8A1B35" font-family="'ArialMT'" font-size="14.1292">20e</text>

        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="529.6729" y1="493.3496" x2="652.6656" y2="635.8417">
          <stop  offset="0" style="stop-color:#8A1B35"/>
          <stop  offset="0.2751" style="stop-color:#861B35"/>
          <stop  offset="0.5767" style="stop-color:#781B35"/>
          <stop  offset="0.8899" style="stop-color:#631B35"/>
          <stop  offset="1" style="stop-color:#591B35"/>
        </linearGradient>
        <rect x="524.585" y="200" fill="url(#SVGID_1_)" width="40" height="200"/>
        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="564.2842" y1="463.4736" x2="687.2778" y2="605.9668">
          <stop  offset="0" style="stop-color:#8A1B35"/>
          <stop  offset="0.2751" style="stop-color:#861B35"/>
          <stop  offset="0.5767" style="stop-color:#781B35"/>
          <stop  offset="0.8899" style="stop-color:#631B35"/>
          <stop  offset="1" style="stop-color:#591B35"/>
        </linearGradient>
        <rect x="584.985" y="392.468" fill="url(#SVGID_2_)" width="40" height="50"/>
        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="598.8965" y1="433.5977" x2="721.8901" y2="576.0908">
          <stop  offset="0" style="stop-color:#8A1B35"/>
          <stop  offset="0.2751" style="stop-color:#861B35"/>
          <stop  offset="0.5767" style="stop-color:#781B35"/>
          <stop  offset="0.8899" style="stop-color:#631B35"/>
          <stop  offset="1" style="stop-color:#591B35"/>
        </linearGradient>
        <rect x="645.384" y="342.468" fill="url(#SVGID_3_)" width="40" height="100"/>
        <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="633.5103" y1="403.7246" x2="756.503" y2="546.2167">
          <stop  offset="0" style="stop-color:#8A1B35"/>
          <stop  offset="0.2751" style="stop-color:#861B35"/>
          <stop  offset="0.5767" style="stop-color:#781B35"/>
          <stop  offset="0.8899" style="stop-color:#631B35"/>
          <stop  offset="1" style="stop-color:#591B35"/>
        </linearGradient>
        <rect x="705.783" y="192.468" fill="url(#SVGID_4_)" width="40" height="250"/>
        <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="668.1211" y1="373.8477" x2="791.1147" y2="516.3408">
          <stop  offset="0" style="stop-color:#8A1B35"/>
          <stop  offset="0.2751" style="stop-color:#861B35"/>
          <stop  offset="0.5767" style="stop-color:#781B35"/>
          <stop  offset="0.8899" style="stop-color:#631B35"/>
          <stop  offset="1" style="stop-color:#591B35"/>
        </linearGradient>
        <rect x="766.184" y="342.468" fill="url(#SVGID_5_)" width="40" height="100"/>
      </g>
    </svg>
  </div>



</center>

