<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <center>
    <div class="nav">
      <table>
        <tr>
          <td>
            <div class="titre">
              le <span class="lettrine">M</span>usée d'<span class="lettrine">A</span>rts en détails.
            </div>
          </td>
          <td>
            <div class="tabs-onglets">
              <a href="./">Techniques</a>
              <a href="./2">Oeuvres</a>
              <a href="/3">Artistes</a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </center>
  <center>
    {{{body}}}
  </center>
</body>

</html>