body {
    background-color: #EAEAEA;
    margin: 0;
    padding-top: 100px;
    color: #696867;
}

a {
    text-decoration: none!important;
    color: #960048;
    transform: all;
    transition: 0.8s;
}

a:hover {
    color: #696867;
    transform: all;
    transition: 0.8s;
}

.nav {
    width: 80%;
    border-bottom: 1px solid #960048;
    padding-bottom:30px;
}

.titre {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 100;
    text-align: left;
    width: 600px;
}

.lettrine {
    color: #960048;
    font-weight: 400;
}

.tabs-onglets {
    display: flex;
    justify-content: space-between;
    width: 250px;
    text-align: right;
    font-family: calibri;
    font-size: 12px;
    text-transform: uppercase;
}

.tabs-onglets a {
    letter-spacing: 3px;
    transform: all;
    transition: 0.8s;
}

.tabs-onglets a:hover {
    letter-spacing: 1px;
    transform: all;
    transition: 0.8s;
}

.desc {
    font-family: roboto;
    font-size: 15px;
    line-height: 19px;
    text-align: left;
    width: 900px;
    margin-left: -200px;
    margin-top: 70px;
}

.pic {
    margin-top: 50px;
}

.svgg {
    width: 500px;
    margin-top: 150px;
}

.svg-text {
    font-family: roboto;
    font-weight: 100;
}

d {
    font-size: 18px;
    font-weight: 400;
    color: #960048;
}











